extends template

block content
    #navbar.right
        .navbar-items-wrap
            a(href='/register').quiet-link.navbar-item Register
            .navbar-item(onclick='showModal()') Login
    .modal#login-form
        .modal-content
            form.form
                h1.form-title Login
                #js-error-message.error-message
                input.form-input(type='email' name='email' placeholder='Email')
                input.form-input(type='password' name='password' placeholder='Password')
                button.form-input.button(type='button') Login
                p Or #[a(href='') register] for an account
    h1.title.center Welcome to HSA Dorm Supplies Shop
    #items
        each item in items
            li there should be an item here
