extends template

block content
    #navbar.right
        .navbar-item-wrap
            a(href='/').quiet-link.navbar-item Home
            a(href='/admin/items').quiet-link.navbar-item Manage Items
            a(href='/logout').quiet-link.navbar-item Logout
    h1.title.center Manage Pending
    #js-pending
block postscript
    script fetchPending();
