doctype html
html
    head
        title= title || "HSA Dorm Supplies"
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src='/js/fetch.js')
    body
        block content
        script(src='/js/script.min.js')
        block postscript
        if dev
            script(src='//localhost:10000/livereload.js')
